/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343A50;
  --card-background-color: black;
  --countdown-background-color: #433765;
  --main-text-color:#F7F6F4;
  --title-text-color:#f4ab1c;
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/bg.jpeg");
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



